<!DOCTYPE html>
<html>
  <head>
    <title>Yeet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Kaushan+Script|PT+Sans|Permanent+Marker|Varela+Round&display=swap" rel="stylesheet">
  </head>
  
  <script type="text/javascript">
    window.yelpLogoURL = "<%= image_url('yelp_pics/yelp_logo.png') %>";
    window.yelpWelcomeURL = "<%= image_url('yelp_pics/yelp_signup_illustration.png') %>";
    window.burgerURL = "<%= image_url('yelp_pics/burger.jpg') %>";
    window.bakeShackA = "<%= image_url('bake_shack_pics/1.jpg') %>";
    window.bakeShackB = "<%= image_url('bake_shack_pics/2.jpg') %>";
    window.bakeShackC = "<%= image_url('bake_shack_pics/3.jpg') %>";
    window.bakeShackD = "<%= image_url('bake_shack_pics/4.jpg') %>";
    window.bakeShackE = "<%= image_url('bake_shack_pics/5.jpg') %>";
    window.bakeShackF = "<%= image_url('bake_shack_pics/6.jpg') %>";
  </script>

  <body>

    <%= yield %>
  </body>
</html>
