<!DOCTYPE html>
<html>
  <head>
    <title>Yeet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>

  <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    </script>
  <% end %>

  <script type="text/javascript">
    window.yelpLogoURL = "<%= image_url('yelp_pics/yelp_logo.png') %>";
    window.yelpWelcomeURL = "<%= image_url('yelp_pics/yelp_signup_illustration.png') %>";
    window.burgerURL = "<%= image_url('yelp_pics/burger.jpg') %>";
  </script>

  <body>

    <%= yield %>
  </body>
</html>
